/* Style for the buttons */
button {
  display: block;
  margin-top: 10px; /* Adjust margin as needed */
}


.profile-container {
  display: flex;
  flex-direction: column;
}

.profile-header {
  display: flex;
  align-items: center;
}

.logout-button {
  margin-left: auto;
}

.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logout-button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card {
    width: calc(50% - 10px);
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card img {
    /* max-width: 100%; */
    /* height: auto; */
    margin-bottom: 10px;
    width: 300px; 
  height: 168;
}

.card button {
    background-color: #008080;
    color: #fff;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
}
