python -m venv env #create virtual env
source env/bin/activate #activate virtual env
pip install django #installing django
pip install djangorestframework #installing the rest framework
pip install mysqlclient #install mysql client  
pip install djoser #install the authentication system            
pip install djangorestframework_simplejwt
pip install drf-nested-routers #to use nested routers
pip install django-cors-headers
# for the frontend
npm install
npm install react-scripts
npm install axios
npm install react-router-dom

npm install aos


#----NEW ONES-------
npm i @material-tailwind/react
npm i @heroicons/react
npx tailwindcss init -p 