*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to top, #16397b, #2b71ed);
}

/* navbar */

li {
  list-style: none;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  background: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.nav a{
  text-decoration: none;
  color: white;
}
.nav__item a:hover {
  color: #c7c7c7;
}
.nav__brand {
  font-size: 30px;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: white;
  transition: 0.3s ease-in;
}

@media screen and (max-width: 768px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 7vh;
    right: 0;
    height: 93vh;
    width: 50vw;
    background: rgb(0, 33, 65);
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
}
/* Active Class */
.nav__active {
  transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}
/* First section */

.first-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-section-text {
  flex: 1;
  line-height: 1.5;
  color: white;
  margin-top: 50px; /* Adjust margin-top as needed */
}

.first-section-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-section-image img {
  max-width: 100%;
  max-height: 100%;
}

.btn {
  padding: 10px 20px;
  background-color: #fff;
  color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: #0056b3;
}

/* Responsive adjustments */

@media screen and (max-width: 768px) {
  .first-section {
    flex-direction: column;
    text-align: center;
  }

  .first-section-text {
    margin-bottom: 20px;
    margin-top: 300px;
  }

  .first-section-image {
    margin-top: 20px;
  }

  .btn {
    margin: 10px auto; /* Adjusted margin for the button */
  }
}

@media screen and (max-width: 576px) {
  /* Adjustments for smaller screens */
  .btn {
    padding: 8px 16px; /* Adjusted padding for smaller screens */
  }
}
