body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 15px 20px;
}

/* Navbar ul styles */
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

/* Navbar li styles */
.navbar ul li {
  margin-left: 20px;
}

/* Navbar link styles */
.navbar ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
}

/* Navbar link hover styles */
.navbar ul li a:hover {
  background-color: #555;
}



